In [0]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq

In [0]:
searchString='iphone'

In [3]:
flipkart_url = "https://www.flipkart.com/search?q=" + searchString
print(flipkart_url)
uClient = uReq(flipkart_url)
flipkartPage = uClient.read()
uClient.close()

https://www.flipkart.com/search?q=iphone

In [0]:
flipkart_html = bs(flipkartPage, "html.parser")
bigboxes = flipkart_html.find_all("div", {"class": "bhgxx2 col-12-12"})
del bigboxes[0:2]

In [5]:
len(bigboxes)

13

In [6]:
productLink = "https://www.flipkart.com" + bigboxes[0].div.div.a['href']
productLink

'https://www.flipkart.com/apple-iphone-se-black-64-gb/p/itm832dd5963a08d?pid=MOBFRFXHCKWDAC4A&lid=LSTMOBFRFXHCKWDAC4AEQROVZ&marketplace=FLIPKART&srno=s_1_1&otracker=search&fm=organic&iid=6e2089a3-b27e-4c04-ab93-fddf8217cb76.MOBFRFXHCKWDAC4A.SEARCH&ssid=xspt1z0k9c0000001590058757594&qH=0b3f45b266a97d70'

In [0]:
prodRes = requests.get(productLink)
prod_html = bs(prodRes.text, "html.parser")

cost = prod_html.find_all('div', {'class': "_1vC4OE _3qQ9m1"})

In [8]:
cost[0].text

'₹42,500'

In [0]:
names=prod_html.find_all('span',{"class":"_35KyD6"})

In [10]:
names[0].text

'Apple iPhone SE (Black, 64 GB)'

In [0]:
def price(i):
    productLink = "https://www.flipkart.com" + bigboxes[i].div.div.a['href']
    prodRes = requests.get(productLink)
    prod_html = bs(prodRes.text, "html.parser")
    prices = prod_html.find_all('div', {'class': "_1vC4OE _3qQ9m1"})
    #names=prod_html.find_all('span',{"class":"_35KyD6"})
    return prices[0].text

In [12]:
price(1)

'₹36,999'

In [0]:
Flipkart_prices=[]
for i in range(10):
    prices=price(i)
    Flipkart_prices.append(prices)

In [0]:
def product_name(i):
    productLink = "https://www.flipkart.com" + bigboxes[i].div.div.a['href']
    prodRes = requests.get(productLink)
    prod_html = bs(prodRes.text, "html.parser")
    names=prod_html.find_all('span',{"class":"_35KyD6"})
    return names[0].text

In [0]:
Mobile_name=[]
for i in range(10):
    names=product_name(i)
    Mobile_name.append(names)

In [0]:
import pandas as pd

In [22]:
df = pd.DataFrame(list(zip(Mobile_name, Flipkart_prices)), 
               columns =['Mobile_name', 'Flipkart_price']) 
df

                                         Mobile_name Flipkart_price
0                     Apple iPhone SE (Black, 64 GB)        ₹42,500
1                 Apple iPhone 7 Plus (Black, 32 GB)        ₹36,999
2                    Apple iPhone 11 (Purple, 64 GB)        ₹68,300
3  Flipkart SmartBuy Tempered Glass Guard for App...           ₹219
4                    Apple iPhone XS (Silver, 64 GB)        ₹62,999
5                    Apple iPhone XR (Yellow, 64 GB)        ₹52,500
6                   Apple iPhone 11 (Purple, 128 GB)        ₹73,600
7                       Apple iPhone 11 (Red, 64 GB)        ₹68,300
8              Apple iPhone XR ((PRODUCT)RED, 64 GB)        ₹52,500
9        Apple iPhone 11 Pro (Midnight Green, 64 GB)      ₹1,06,600

In [23]:
df.drop(index=3,inplace=True)
df

                                   Mobile_name Flipkart_price
0               Apple iPhone SE (Black, 64 GB)        ₹42,500
1           Apple iPhone 7 Plus (Black, 32 GB)        ₹36,999
2              Apple iPhone 11 (Purple, 64 GB)        ₹68,300
4              Apple iPhone XS (Silver, 64 GB)        ₹62,999
5              Apple iPhone XR (Yellow, 64 GB)        ₹52,500
6             Apple iPhone 11 (Purple, 128 GB)        ₹73,600
7                 Apple iPhone 11 (Red, 64 GB)        ₹68,300
8        Apple iPhone XR ((PRODUCT)RED, 64 GB)        ₹52,500
9  Apple iPhone 11 Pro (Midnight Green, 64 GB)      ₹1,06,600